.custom-marker {
  position: relative;
  width: 60px;
  height: 24px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
}
.custom-marker-title {
  height: 24px;
  margin: 0;
  padding-right: 4px;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
}
.custom-temperature-marker {
  transform: scale(0.8);
  transform-origin: right;
}
