.custom-marker {
  position: relative;
  width: 60px;
  height: 28px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
}
.custom-marker-title {
  height: 28px;
  margin: 0;
  padding-right: 10px;
  font-size: 12px;
  line-height: 28px;
  text-align: right;
}
